/*--------------------MAIN----------------------------*/
$colorFondo: #6060af;
$color_container_horarios_rubros: #6d6d6d;

#main{
    //background-color: $colorFondo;
    background-image: linear-gradient(to bottom,#3939d5, $colorFondo );
    padding-top: 20px ;
    .container-horarios-rubros{
        color: white;
        background-color: $color_container_horarios_rubros;
        border-radius: 5%;
        .box-horarios{
            padding: 10px 10px;
        }
        .box-rubros{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px 10px;
        }
        ul{
            list-style: none;
        }
    
    }
    .img-fluid{
        max-width: 100% ;
        height: auto;
    }
    .container{
        .box-ubicacion{
            iframe{
                padding: 10px 10px;
                max-width: 100%;
            }
            
        }
    }
}

